* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./barry-weatherall-Hm_iFim94bw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading {
  border: 2px solid black;
  padding: 10px 0;
  text-align: center;
  height: 5rem;
  margin: 30px 10px 0 10px;
  background-color: black;
}

.heading h1 {
  color: white;
  font-family: "Zen Dots", sans-serif;
  text-transform: uppercase;
}

.heading p {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  font-size: 1.5rem;
}
.container {
  width: calc(100% - 40px);
  height: 100vh;
  margin: 20px auto;
  padding: 20px;
}

.right-column {
  width: 75%;
  float: right;
  margin-top: 30px;
  text-align: center;
  height: 100vh;
}
.movie-title-container {
  margin: 5px 5px;
  background-color: #ef233c;
  border: 1px solid black;
  border-radius: 0.9rem;
}
.movie-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.3rem;
  text-transform: capitalize;
  font-weight: 900;
  padding: 10px;
}

.left-column {
  width: 25%;
  float: left;
  margin-top: 30px;
}

.title-container {
  background-color: #ef233c;
  margin: 10px 30px;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid black;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
}

.left-row ul li {
  padding: 10px;
  border: 1px solid #ccc;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  font-size: 22px;
  color: white;
}

.left-row ul li:hover {
  border: 2px solid #fb8500;
  height: 4rem;
  cursor: pointer;
  background-color: black;
}
.description {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  font-size: 22px;
  color: white;
}
.movie-details {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: black;
}

.movie-details li {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  border: 2px solid red;
  padding: 3px;
  border-radius: 5px;
  list-style: none;
  text-align: center;
  color: white;
}

.movie-details-container {
  border: 2px solid black;
  margin: 10px 20px;
  box-shadow: 10px 10px 9px rgb(190, 187, 187);
  background-color: black;
}
.poster {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.btn {
  padding: 10px;
  text-align: center;
  background-color: #47c68d;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}


.sold {
  background-color: #f14668;
  font-weight: 700;
  color: #fff;
}
